snippet align
	\begin{align}
		${1:Formula}
	\end{align}

snippet frac
	\frac{${1:p}}{${2:q}}${3}

snippet lr
	\left ${1} \right

snippet set
	\left \{${1:x\in X} \middle \ |\quad ${2:condition} \right\}

snippet choice
	\left\\{\begin{matrix} ${1} & ${2} \\\\ ${3} & ${3}\end{matrix}\right.

snippet int
	\int_{${1}}^{${2}} ${3} \dif ${4}
